/* :root {
    --main-color: #212121;
    --brand-color: #2196F3;
    --second-color: #757575;
    --third-color: #FFFFFF;      
    --bgd-scl: #F5F4FA;  
    --count-cards: 4;
    --dst-between: 30px;  

    --animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
    font-family: 'Roboto', sans-serif;    
    color: var(--main-color);   
    font-size: 16px;    
} */

/* .container {    
    margin-right: auto;
    margin-left: auto;    
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;     
} */

/* h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
} */

/* common styles start */
/* .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
}

.logo-dark-theme {
    color: var(--third-color);
}

.logo-light-theme {
    color: var(--main-color);
} */

/* .list {
    list-style: none;
}

.link {   
    text-decoration: none;   
} */

/* .button {
    background-color: var(--brand-color);
    color: var(--third-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    transition: background-color var(--animation-regular),
    box-shadow var(--animation-regular);
}

.button:focus,
.button:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* .section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
} */

/* .table-list {
    display: flex;
    flex-wrap: wrap;   
}

.table-item {
    width: calc((100% - var(--dst-between) * (var(--count-cards) - 1)) / var(--count-cards));
    margin-right: var(--dst-between);
} */

/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .sotial {
    display: flex;
    justify-content: center;
}

.sotial__item {
    width: 44px;
    height: 44px;
}

.sotial__item:not(:last-child) {
    margin-right: 10px;
}

.sotial__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);

    transition: background-color var(--animation-regular);
}

.sotial__icon {
    fill: #AFB1B8;

    transition: color var(--animation-regular);
}

.sotial__link:focus .sotial__icon,
.sotial__link:hover .sotial__icon {
    fill: var(--third-color);
}

.sotial__link:focus,
.sotial__link:hover {
    background-color: var(--brand-color);
} */
/* common styles end */

/* header */
/* .main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: var(--third-color);    
    border-bottom: 1px solid #ECECEC;
}

.main-nav .container {
    display: flex;
    align-items: baseline;
}

.main-nav .logo {
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu__list {
    display: flex;
}

.menu__link,
.contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-regular);
}

.menu__item {
    position: relative;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link--active {     
    color: var(--brand-color);
}

.menu__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
}

.menu__link:focus,
.menu__link:hover,
.contacts__link:focus,
.contacts__link:hover {
    color: var(--brand-color);
}

.contacts {
    margin-left: auto;
}

.contacts__link {
    display: flex;
    align-items: center;

    color: var(--second-color);
}

.contacts__list {
    display: flex;    
}

.contacts__item {
    display: flex;    
    align-items: center;
}

.contacts__icon {
    margin-right: 10px;      
    fill: currentColor;
}

.contacts__item:not(:last-child){
    margin-right: 50px;
} */

/* section Hero */
/* .hero {
    margin-top: 80px;
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;    
    padding-top: 200px;
    padding-bottom: 200px;      
    text-align: center;       
    background-image: 
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bgd-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    background-color: #2F303A;  
} */

/* .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;    
    text-transform: uppercase;
    color: var(--third-color);  
    margin-bottom: 30px; 
} */

/* section Advantage */
/* .advantage {
    background-color: var(--third-color);
    padding-top: 94px;   
    padding-bottom: 94px;
}

.advantage__item:nth-child(4n) {
    margin-right: 0;
}

.advantage-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bgd-scl);
} */

/* .advantage__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
} */

/* .advantage__desc {  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;
    color: var(--second-color);       
} */

/* section works */
/* .works {
    background-color: var(--third-color);
    padding-bottom: 94px;  
    
    --count-cards: 3;
}

.works__item {
    position: relative;
}

.works__item:nth-child(3n) {
    margin-right: 0;
}

.works__image {
    display: block;
}

.works__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;

    position: absolute;
    bottom: 0;  
    left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--third-color);
} */

/* section Team */
/* .team {
    text-align: center;
    padding-top: 94px; 
    padding-bottom: 94px;   
    --count-cards: 4;
    background-color: var(--bgd-scl);
}

.team__item {
    background: var(--third-color);    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:nth-child(4n) {
    margin-right: 0;
}

.team__image {
    display: block;
}

.team-desc {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-desc__name {    
    font-weight: 500;    
    line-height: 1.2;    
    letter-spacing: 0.03em;        
    margin-bottom: 10px;
}

.team-desc__position {
    margin-bottom: 16px;
    font-weight: 400;    
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--second-color);   
} */

/* clients */
/* .clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list {
    display: flex;    
    justify-content: center;
}

.clients__item:not(:last-child){
    margin-right: 30px;    
}

.clients__item {     
    width: 170px;
    height: 92px;
}

.clients__item .clients__link {    
    color: #AFB1B8;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;    

    transition: color var(--animation-regular),
    border-color var(--animation-regular);     
}

.clients__icon {
    fill: currentColor;
}

.clients__link:focus,
.clients__link:hover {
    color: var(--brand-color);
    border-color: var(--brand-color);
} */

/* section Portfolio */
/* .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    --count-cards: 3;
    background-color: var(--third-color);   
} */

/* .sort-btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.sort-btn .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio .button {
    background-color: var(--bgd-scl);
    color: var(--main-color);           
    font-weight: 500;   
    line-height: 1.6;  
    letter-spacing: 0.03em;
    min-width: auto;   
    
    transition: background-color var(--animation-regular),
    color var(--animation-regular),
    box-shadow var(--animation-regular);
}

.portfolio .button:focus,
.portfolio .button:hover,
.portfolio .active-btn {
    background-color: var(--brand-color);
    color: var(--third-color);    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
} */

/* .portfolio .table-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    height: 294px;
    align-items: center;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    transition: transform var(--animation-regular);

    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-overlay-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--third-color);
}

.portfolio-img-card {
    position: relative;
    overflow: hidden;
}

.portfolio .table-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio .table-item {    
    margin-bottom: 30px;
    transition: box-shadow var(--animation-regular);
}

.portfolio .table-item:focus,
.portfolio .table-item:hover {    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-desc {
    padding-top: 20px;    
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    background-color: var(--third-color);    
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    
}

.portfolio .table-item:nth-last-child(-n +3){
    margin-bottom: 0px;
}

.portfolio .image {    
    display: block;       
}

.portfolio .project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;   
    margin-bottom: 4px;   
}

.portfolio .category {
    font-weight: 400;    
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-color);    
} */

/* footer */
/* .footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
}

.footer-contacts__logo {
    display: block;  
    margin-bottom: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__item:first-child .address__link {
    color: var(--third-color);
}

.address__item .address__link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe {
    margin-left: 70px;
} */

/* .footer-subscribe__title,
.footer-distribution__title {
    margin-top: 12px;
    margin-bottom: 20px;    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--third-color);
} */

/* .sotial__link--focused {
    color: var(--third-color);   
    background-color: rgba(255, 255, 255, 0.1);
}

.sotial__icon--focused {
    fill: currentColor;
}

.sotial__link--focused:focus,
.sotial__link--focused:hover {
    background-color: var(--brand-color);
}

.footer-distribution {
    width: 570px;
    margin-left: auto;
} */

/* .subscribe-form {
    display: flex;
}

.subscribe-form__input {
    margin-right: 12px;
    padding: 15px 16px;
    flex-grow: 2;

    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: color var(--animation-regular),
    border-color var(--animation-regular);
}

.subscribe-form__input::placeholder {  
    font-size: 16px;
    line-height: 1.25;   
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:not(:placeholder-shown):required:valid,
.subscribe-form__input:hover,
.subscribe-form__input:focus {    
    color: var(--third-color);
    border-color: var(--brand-color);
}

.subscribe-form__input:not(:placeholder-shown):required:invalid{
    color: rgb(255, 64, 64);   
}


.subscribe-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.subscribe-btn__icon {
    margin-left: 10px;
    fill: currentColor;
} */

/* modal window */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.2); 

    transition: opacity var(--animation-regular),
    visibility var(--animation-regular);
} */

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   

    width: 528px;
    height: 581px;
    padding: 40px;    

    background: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {       
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--third-color);     
}

.modal-close-btn:hover,
.modal-close-btn:focus {    
    cursor: pointer;
}

.modal-close-icon {   
    transition: fill var(--animation-regular);
}

.modal-close-btn:hover .modal-close-icon{
    fill: var(--brand-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;    
} */

/* modal-form */
/* .modal-title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    letter-spacing: 0.03em;
    text-align: center;  
} */

/* .modal-input-wrp {
    position: relative;
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form-label:last-child {        
    margin-bottom: 20px;
}

.modal-form-dsc {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;    
    letter-spacing: 0.01em;

    color: var(--second-color);
}

.modal-form-input {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    width: 448px;
    height: 40px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;    
    background-color: transparent;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--animation-regular);
}

.modal-form-icon {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(calc(58px / 2));
    margin-left: 12px;

    transition: fill var(--animation-regular);
}


.form-textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form-label:hover .modal-form-input,
.modal-form-label:focus .modal-form-input,
.modal-form-label:hover .modal-form-icon,
.modal-form-label:focus .modal-form-icon {
    fill: var(--brand-color);
    border-color: var(--brand-color);
}

.form-textarea {
    padding-right: 16px;
    padding-left: 16px;
    height: 120px;
    resize: none;
}

.modal-form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;     
    margin-left: calc(54px - 41px);   
}

.form-checkbox-icon.empty {    
    position: absolute;  
    left: 0; 

    opacity: 0;

    transition: opacity var(--animation-regular);
}

.form-checkbox-icon.agree {
    position: absolute;  
    left: 0; 

    opacity: 0;
    fill: var(--third-color);
    background-color: var(--brand-color);
    border-radius: 2px;       
    
    transition: opacity var(--animation-regular);
}

.form-checkbox-agreement {
    margin-left: calc(7px + 13px);
    font-size: 14px;
    line-height: 1.71;        
    letter-spacing: 0.03em;    
    color: var(--second-color);
}

.form-checkbox-contract {
    color: var(--brand-color);   
}

.form-checkbox-input:not(:checked) + .form-checkbox-icon.empty {
    opacity: 1;
}

.form-checkbox-input:checked ~ .form-checkbox-icon.agree {
    opacity: 1;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
} */

