.button {
    padding: 10px 28px 10px 29px;
    min-width: 200px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;    
    line-height: 1.88;
    letter-spacing: 0.06em;

    border: none;
    border-radius: 4px;
    background-color: var(--brand-color);
    color: var(--third-color);    

    transition: background-color var(--animation-regular),
        box-shadow var(--animation-regular);

    &:focus,
    &:hover {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

}

