.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--third-color);
    margin-bottom: 30px;
}