.modal-input-wrp {
    position: relative;
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 20px;
    }
}

.modal-form-dsc {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--second-color);
}

.modal-form-input {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    width: 448px;
    height: 40px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--animation-regular);
}

.modal-form-icon {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(calc(58px / 2));
    margin-left: 12px;

    transition: fill var(--animation-regular);
}

.form-textarea {
    padding-right: 16px;
    padding-left: 16px;
    height: 120px;
    resize: none;

    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form-label:hover .modal-form-input,
.modal-form-label:focus .modal-form-input,
.modal-form-label:hover .modal-form-icon,
.modal-form-label:focus .modal-form-icon {
    fill: var(--brand-color);
    border-color: var(--brand-color);
}

.modal-form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(54px - 41px);

    &.empty {
        position: absolute;
        left: 0;
        opacity: 0;

        transition: opacity var(--animation-regular);
    }

    &.agree {
        position: absolute;
        left: 0;
        opacity: 0;
        fill: var(--third-color);
        background-color: var(--brand-color);
        border-radius: 2px;

        transition: opacity var(--animation-regular);
    }
}

.form-checkbox-agreement {
    margin-left: calc(7px + 13px);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.form-checkbox-contract {
    color: var(--brand-color);
}

.form-checkbox-input:not(:checked)+.form-checkbox-icon.empty {
    opacity: 1;
}

.form-checkbox-input:checked~.form-checkbox-icon.agree {
    opacity: 1;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
}